.forgot-password-container {
    padding: 2em;
}

.forgot-password-text {
    padding: 0.5em;
}

.submit-button {
    background-color: #030321;
    color: #c5bfbf;
    border: 1px solid #030321;
    border-radius: 2em;
    padding: 0.5em;
    width: 50%;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
}

.submit-button:hover {
    background-color: #c5bfbf;
    color: #030321;
    border: 1px solid #030321;
}

.submit-button:active {
    background-color: #AFA3A3;
    color: #030321;
    border: 1px solid #030321;
}

.back-to-login-container {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.remember-password-text {
    padding-right: 0.3em;
}

